<ion-content class="authentication">
  <div ion-fixed>

    <!-- Logo -->
    <img src="assets/logo.png" alt="AC diagnosis" width="90%;">

    <!-- Facebook button -->
    <!-- <button class="button-facebook" ion-button large icon-left color="facebook" (click)="facebookLogin()">
      <ion-icon name="logo-facebook"></ion-icon>
      Log in with Facebook
    </button> -->

    <!-- Or -->
    <!-- <p text-center text-uppercase>
      Or
    </p> -->

    <!-- Sign in form -->
    <form class="login-form" [formGroup]="loginForm" (submit)="login()">
      <ion-list>
        <ion-item>
          <ion-label fixed>Email</ion-label>
          <ion-input type="email" required formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
        </ion-item>
      </ion-list>

      <!-- Login button -->
       <button type="submit" ion-button full>
        Login
      </button>

      <!-- Forgot Password button -->
      <button type="button" ion-button small clear text-center (click)="forgotPassword()">
        Forgot Password?
      </button>

      <button class="footer" type="button" ion-button full text-uppercase (click)="signUp()">Sign Up</button>
    </form>
    <!-- End form -->

  </div>
</ion-content>

<!--This button sticking on top of keyboard on android devices-->
<!-- Sign up -->
<!--<ion-footer>
  <ion-toolbar>
    <button ion-button full text-uppercase (click)="signUp()">Sign Up</button>
  </ion-toolbar>
</ion-footer>-->
