page-register {

  // For Fake Footer
  [ion-fixed] {
    min-height: 100vh;
  }

  // Logo
  img {
    margin: 10vh auto;
    display: block;
  }

  .list {
    @include dt-form;
  }

  p {
    color: color($colors, secondary);

    &.terms {
      color: white;
      line-height: 20px;
      font-weight: 300;
    }

  }

  // Fake Footer Button
  button.footer {
    // position: absolute;
    left: initial;
    margin-top: 11vh !important;
    bottom: 10px;
  }

  @media screen and (max-width: 414px){
    img {
      margin: 5vh auto;
    }

    button.footer {
      margin-top: 5vh !important;
    }
  }

}
