page-tabs {

  .tab-button {
    background-color:black;
  }

  // Removes iOs border
  .tabs-ios .tabbar {
    border: none;
  }

  .tab-button[aria-selected="false"]{
    .tab-button-icon, .tab-button-text {
      color: #666666 !important;
    }
  }
}


