<ion-content class="authentication">

<div ion-fixed>
<!-- Logo -->
<img class="logo" src="assets/logo.png" alt="AC diagnosis" width="90%;">


<!-- start of label -->
<p text-center text-uppercase>
  FORGOT YOUR PASSWORD?
</p>
<!-- end of label -->

<!-- start of form -->
<form class="forgot-password-form" [formGroup]="resetPasswordForm" (submit)="resetPassword()">

  <ion-list>
   <ion-item>
     <ion-label fixed>Email</ion-label>
     <ion-input type="email" required formControlName="email"></ion-input>
   </ion-item>
  </ion-list>

  <button type="submit"ion-button full [disabled]="disableResetPasswordButton$ | async" text-uppercase>
    reset password
  </button>

  <button type="button" class="back-btn footer" ion-button full text-uppercase (click)="goBack()">Go Back</button>
</form>
<!-- End form -->

</div>

</ion-content>

<!--This button sticking on top of keyboard on android devices-->
<!--<ion-footer>
  <ion-toolbar>
    <button class="back-btn" ion-button full text-uppercase (click)="goBack()">Go Back</button>
  </ion-toolbar>
</ion-footer>-->
