<ion-content class="authentication">

  <!-- Not Connecting -->
  <div *ngIf="!(isConnecting$ | async)" id="reminder">

    <!-- Logo -->
    <img src="assets/logo.png" alt="AC diagnosis" width="100%;">

    <h2 text-center>Searching for<br>AC diagnosis smart performance sensor</h2>

  </div>
  <!-- End Not Connecting -->

  <!-- Connecting -->
  <div *ngIf="isConnecting$ | async">

    <h2 text-center>Connecting to sensor</h2>

    <ion-spinner name="bubbles"></ion-spinner>

  </div>
  <!-- End Connecting -->

  <ng-container *ngIf="!(isConnecting$ | async)">
    <button ion-button full *ngFor="let device of (deviceList$ | async)" (click)="connectSensor(device)">
      <!-- {{device.name}}<br> -->
      AC Diagnosis<br>
      <!-- TODO: Bluetooth ID (see David for questions) -->
      <span>{{device.id}}</span>
    </button>
  </ng-container>

</ion-content>


<!--Moved this into content to make the page scrollable in case there's more than 2-3 sensors around the users phone.-->
<!--<ion-footer *ngIf="!(isConnecting$ | async)">
  <ion-toolbar>

    <button ion-button full *ngFor="let device of (deviceList$ | async)" (click)="connectSensor(device)">
      {{device.name}}<br>-->
<!-- TODO: Bluetooth ID (see David for questions) -->
<!--<span>{{device.id}}</span>
    </button>

  </ion-toolbar>
</ion-footer>-->