<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button class="feedback" ion-button (click)="openFeedbackModal()">
        Feed<br>back
      </button>
    </ion-buttons>

    <ion-title>Settings</ion-title>

    <ion-buttons end>
      <button class="help" ion-button icon-only (click)="openHelpPage()">
        <ion-icon ios="ios-help-circle-outline" md="ios-help-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="settings">
  <!--Changing Themes not a requirement for this version-->

  <!-- Changing Themes not a requirement for this version -->
  <!-- <ion-list radio-group>
    <ion-list-header>
      THEME
    </ion-list-header>

    <ion-item>
      <ion-label>Cielo</ion-label>
      <ion-radio checked="true" value="go"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Carbon</ion-label>
      <ion-radio value="rust"></ion-radio>
    </ion-item>

  </ion-list> -->

  <ion-list radio-group [ngModel]="tempUnit$ | async">
    <ion-list-header>
      UNIT
    </ion-list-header>

    <ion-item>
      <ion-label>Celsius</ion-label>
      <ion-radio value="C" (ionSelect)="changeUnit($event)"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Fahrenheit</ion-label>
      <ion-radio value="F" (ionSelect)="changeUnit($event)"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list radio-group [ngModel]="refrigerant$ | async">
    <ion-list-header>
      TYPE A/C SYSTEM
    </ion-list-header>

    <ion-item>
      <ion-label>Car - Refrigerant R134a</ion-label>
      <ion-radio value="R134A" (ionSelect)="changeRefrigerant($event)"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Car - Refrigerant R1234yf</ion-label>
      <ion-radio value="R1234YF" (ionSelect)="changeRefrigerant($event)"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Home</ion-label>
      <ion-radio value="HOME" (ionSelect)="changeRefrigerant($event)"></ion-radio>
    </ion-item>

  </ion-list>


  <ion-list>
    <ion-list-header>
      BATTERY LEVEL<span style="float: right; color: white;">{{batteryLevel}} %</span>
    </ion-list-header>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Clear Data Log not a part of this version -->
    <!-- <button ion-button full text-uppercase>Clear Data Log</button> -->

    <button ion-button full text-uppercase (click)="logout()">Logout</button>
  </ion-toolbar>
</ion-footer>