// Form inputs
@mixin dt-form {
  background-color: transparent;
  border-top: none;

  .item,
  .item-radio {
    background-color: transparent;
    color: white;

    // Not last of type
    &:not(:last-of-type) {
      padding-left: 0px;

      .item-inner {
        padding-left: 16px;
      }
    }

    // First of type
    &:first-of-type {
      border-top: none;
    }

    .label {
      color: white;
      font-weight: 300;
    }

  }
}

@mixin dt-radio {
  background-color: transparent;
  border-top: none;

  .list-header ion-label.label {
    color: color($colors, secondary);
    border: none;

    &.label-md {
      margin-bottom: 0;
    }
  }

  // List header ios
  .list-header-ios {
    border-bottom: none;
  }

  // List header md
  .list-header-md {
    border-top: none;
  }

  // Radio button
  .item-radio {
    background-color: transparent;
    color: white;

    // Not last of type
    &:not(:last-of-type) {
      padding-left: 0px;

      .item-inner {
        padding-left: 16px;
      }
    }

    &:last-of-type {
      border-bottom: 1px solid white;
    }

    // First of type
    &:first-of-type {
      border-top: none;
    }
  }

}

// @mixin secondary-header {
//
// }
