// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$h1-font-size: 37px;
$p-font-size: 16px;



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  // This is white and the blue used
  primary:    #fff,
  secondary:  #22a0db,
  lightgray: #9b9b9b,

  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222222,
  facebook:   #3b5998,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$font-family-ios-base: 'Lato', -apple-system, sans-serif;

// Loading Spinner
$loading-ios-spinner-color: color($colors, secondary);


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$font-family-md-base: 'Lato', 'Roboto', sans-serif;

// Loading Spinner
$loading-md-spinner-color: color($colors, secondary);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$font-family-wp-base: 'Lato', 'Noto Sans', sans-serif;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
