// http://ionicframework.com/docs/v2/theming/

// Include app mixins
@import "../theme/mixins";

// Google font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// App Background Color
ion-content {
  background-image: url('../assets/carbon.png');
  background-size: cover;

  // For Authentication flow
  &.authentication {
    background-image: radial-gradient(49% 108%, rgba(59,57,55,0.50) 51%, #000000 100%);
    background-color: black !important;
    color: white;
  }

  // for Settings
  &.settings {
    background-color: black;
    background-image: none;
  }

 //for feedback
  &.feedback-modal {
    background-color: black;
    background-image: none;
  }

}
// End Background color

// Header Bar
ion-navbar.toolbar {
  padding-bottom: 0;
  padding-left: 0;

  // Background color
  .toolbar-background {
    background-color: black;
  }

  // Title color
  .toolbar-title {
    color: white;
  }

  .toolbar-content-md {
    position: absolute;
    width: 100%;

    // for Android Title
    .toolbar-title.toolbar-title-md {
      text-align: center;
    }
  }

  // Button color
  .bar-button {
    color: white;
  }

  // Feedback button
  .feedback {
    background-image: radial-gradient(circle at 50% 100%, #6E6A68 0%, #3B3937 100%);
    box-shadow: 0 -2px 7px 0 rgba(0,0,0,0.30);
    height: 44px;
    border-radius: 0;
    margin: 0;
    font-size: 11px;
    padding: 10px 15px;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 1px;

    .button-inner {
      flex-flow: column;
    }
  }
}

// Footer bar
ion-footer .toolbar {
  background-color: transparent;

  .toolbar-background {
    background-color: transparent;
    border: none;
  }
}

// Button
button.button {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 80%;
  margin: 10px auto;
  display: block;

  &.button-full {
    border: 2px solid #FFFFFF;
    color: white;
    background: rgba(255,255,255,0.10);
    margin: 20px auto;

    &:hover,
    &:active,
    &:focus {
      color: black;
    }
  }

  &.button-clear {
    color: color($colors, secondary);

    &:hover,
    &:active,
    &:focus {
      color: darken(#22A0DB, 10%);
    }
  }

}
// End Button

// Alert
.alert-wrapper {
  color: white;
  background-image: radial-gradient(circle at 50% 0%, #6E6A68 0%, #3B3937 100%);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.60);
  border-radius: 0;

  .alert-head {
    padding-bottom: 0;
    color: color($colors, secondary);
  }
}

.alert-ios .alert-input {
  background-color: transparent;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.alert-input {
  color: white !important;
}

.alert_white_message{
  .alert-message{
    color: white;
    overflow: hidden;
    margin-top: 5px;
  }
}