<!-- if below 60.8F / 16C degrees, add class "blue" -->
<ion-item [class.blue]="dataLog.temperature <= (dataLog.idealTemperature ? dataLog.idealTemperature : 7)"
  (click)="onClick.emit(dataLog)">

  <div class="temp" [class.three-digi]="(dataLog.temperature | roundNumber).toString().length > 2">
    <h1>{{ dataLog.temperature | temperaturePreference | async | roundNumber }}°</h1>
    <h4 [ngStyle]="(dataLog.temperature | roundNumber).toString().length <= 1 && unit == 'C' && {'right': '22px'}">
      {{ unit }}</h4>
  </div>

  <div class="content">

    <p class="title">{{ dataLog.title }}</p>

    <h3>
      <ion-icon name="water"></ion-icon>
      {{ dataLog.humidity | roundNumber }}%
    </h3>

    <p>{{ dataLog.comment }}</p>

    <p class="time">
      <!-- Date -->
      {{ dataLog.createdAt / 1000 | amFromUnix | amDateFormat:'MM/DD/YY' }}
      <br>
      <!-- Time -->
      {{ dataLog.createdAt / 1000 | amFromUnix | amDateFormat:'h:mm A' }}
    </p>
  </div>
</ion-item>